.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 200px;
  background-color: #62d5b4;
  border-color: #73ac31;
  border-style: solid;
  border-radius: 3%;
}

.container .number {
  align-self: flex-end;
}

.container img {
  flex-basis: 60%;
}

.container .types {
  display: flex;
  max-width: 10%;
}
